.main-container{
  margin: 20px auto;


/*  WebkitFilter: drop-shadow(0px 0px 5px #555);
  filter: drop-shadow(0px 0px 5px #555);*/
}

.correct{
	background-color: #5b84b1ff;
	border: 2px solid #5b84b1ff!important;
}

.wrong{
	background-color:#fc766aff;
	border: 2px solid #fc766aff!important;
}

img{
	max-width: 300px;
	max-height: 300px;
	width: 100%;
}