.main-container{
  margin-top: 40px;
  border: 1px solid black;
/*  WebkitFilter: drop-shadow(0px 0px 5px #555);
  filter: drop-shadow(0px 0px 5px #555);*/
}

.correct{
	background-color: blue;
}

.wrong{
	background-color:red;
}